@import '../../variables.scss';

.bestselling {
  position: relative;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: none;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
    padding-top: 56px;
  }
}

.bestselling::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    top: -113px;
    right: -100px;
    width: 185px;
    height: 313px;
    background: url("../../../public/img/best-selling-bg.png") no-repeat;
    filter: blur(7px) drop-shadow(-15px 50px 70px rgba(27, 27, 29, 0.1));
  }
}

.bestselling__heading {
  text-align: center;
}

.bestselling__text {
  margin-bottom: 100px;
  text-align: center;

  @media (min-width: $desktop-width) {
    & br {
      display: none;
    }

    margin-bottom: 178px;
    text-align: center;
    width: 580px;
    margin: 0 auto;
    margin-bottom: 180px;
  }
}
