@import '../../variables.scss';

.reviews {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-bottom: 210px;
    min-height: 653px;
    gap: 74px;
  }
}

.reviews::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    top: -350px;
    left: -68px;
    width: 379px;
    height: 568px;
    background: url('../../../public/img/reviews-bg-top.png') 50% 50%;
    transform: scale(1) rotate(0deg);
  }
}

.reviews::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    bottom: -61px;
    right: -97px;
    width: 350px;
    height: 622px;
    background: url('../../../public/img/reviews-bg-bottom.png') 50% 50%;

  }
}

.slider {
  width: 280px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 1215px;
    min-height: 468px;
  }
}

.slider__list {
  display: flex;
  gap: 35px;
  margin: 0;
  margin-left: -319px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-left: -354px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -285px;
  }
}

.card {
  position: relative;
  width: 280px;
  background-color: #ffffff;
  color: #1b1b1d;
  border-radius: 16px;
  cursor: pointer;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 468px;
    line-height: 30px;
  }
}

.card__quote {
  margin: 0;
  padding: 40px;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 40px 40px 40px;
  }
}

.card__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.card__author {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 32px;
  padding-right: 136px;
  font-size: 24px;
  font-weight: 600;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    width: 120px;
    height: 24px;
    background-image: url('../../../public/img/star.svg');
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 17px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 33px;
  }
}

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    min-height: 653px;
    margin-bottom: 0;
    padding-top: 3px;
    justify-content: flex-start;
  }
}

.review__heading {
  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.rating {
  display: flex;
  margin-bottom: 20px;
  justify-self: center;
  align-items: center;
  gap: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 99px;
  }
}

.rating__number {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #1b1b1d;
}

.rating__text {
  position: relative;
  margin: 0;
  padding-top: 32px;
  font-size: 20px;
  line-height: 28px;
  align-self: flex-end;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 120px;
    height: 24px;
    background-image: url('../../../public/img/star.svg');
  }
}

.review__buttons {
  display: flex;
  gap: 24px;
}

.review__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background: url('../../../public/img/arrow.svg') no-repeat 50% 50%;
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
  }
}

.review__button--next::after {
  transform: scale(-1);
}

.card__image {
  width: 100%;
  height: auto;
}
