// Resolution

$desktop-width: 1440px;
$tablet-width: 768px;

// Colors

$black-color: #1b1b1d;
$white-color: #ffffff;
$white-light-color: #f3f4f5;
$gray-color: #64646a;
$gray-light-color: #eeeff1;

//

$basic-animation: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
