@import '../../variables.scss';

.services {
  position: relative;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 190px;

    &::before {
      position: absolute;
      content: "";
      top: 53px;
      left: -100px;
      width: 447px;
      height: 490px;
      background: url("../../../public/img/services-bg.png") no-repeat;
      filter: drop-shadow(37px 98px 100px rgba(27, 27, 29, 0.4));
    }
  }
}

.services__heading {
  text-align: center;
}

.services__text {
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;

    & br {
      display: block;
    }
  }
}

.services__list {
  display: grid;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 15px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.service-card {
  display: flex;
  max-width: 280px;
  padding: 15px;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;

  @media (min-width: $desktop-width) {
    max-width: none;
    padding: 40px;
    border-radius: 24px;
  }
}

.service-card__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #1b1b1d;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 52px;
  }
}

.services-card__text {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 35px;
  }
}

.services-card__image {
  align-self: center;
  width: 92px;
  height: 90px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    width: 150px;
    height: 147px;
    margin-bottom: 60px;
  }
}

.services-card__button {
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  border: none;
  align-self: center;

  @media (min-width: $desktop-width) {
    width: 225px;
    font-size: 18px;
    line-height: 30px;
  }
}
