@import '../../variables.scss';

.about {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about__logo {
  width: 126px;
  height: 50px;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}
