@import '../../variables.scss';

.footer {
  flex-direction: column;
  padding-bottom: 0;
}

.footer__top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-auto-flow: column;
    gap: 108px 227px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.footer__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 10px;
  color: $black-color;
  text-align: left;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
