@import '../../variables.scss';

.footer {
  flex-direction: column;
  padding-bottom: 0;
}

.footer__top {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 220px;
    gap: 10px 100px
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-right: 44px;
    gap: 90px 226px;
    grid-template-columns: 558px 1fr;
    grid-template-rows: 1fr 319px;
  }
}

.footer__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 10px;
  color: $black-color;
  text-align: left;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}
