@import '../../variables.scss';

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 24px;
  }
}

.social-list__icon {
  width: 30px;
  height: 30px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: $white-color;
  border-radius: 50%;
  box-shadow: 0 12px 30px rgba(205, 209, 214, 0.28);
  transition: $basic-animation;

  &:hover {
    transform: scale(0.9);

    .social-list__icon path {
      transition: $basic-animation;
      fill: $black-color;
    }
  }

  &:focus {
    transform: scale(0.9);
    outline: 2px solid tomato;

    .social-list__icon path {
      transition: $basic-animation;
      fill: $black-color;
    }
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
  }
}
