@import '../../variables.scss';

.download-app-section {
  flex-direction: column;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    max-width: 740px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    max-width: 1240px;
    margin-bottom: 328px;
    padding-top: 276px;
  }
}

.download-app {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 60px;
    left: calc(50% - 120px);
    width: 240px;
    height: 261px;
    background-image: url("../../../public/img/download-app-bg.png");
    background-size: 240px 261px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 410px;

    &::after {
      top: calc(50% - 163px);
      bottom: auto;
      left: auto;
      right: 0;
      width: 300px;
      height: 326px;
      background-size: 300px 326px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 689px;
    padding-left: 39px;

    &::after {
      top: calc(50% - 467px);
      right: -11px;
      width: 740px;
      height: 895px;
      background-size: 820px 936px;
    }
  }
}

.download-app__button {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 40px;
    word-spacing: 0.2em;
    font-size: 18px;
    line-height: 30px;
  }
}

.download-app__text {
  padding-bottom: 280px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 61px;
  }
}

.download-app__heading {
  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}
