@import '../../variables.scss';

.download-app-section {
  flex-direction: column;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    max-width: 740px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    max-width: 1240px;
    margin-bottom: 204px;
    padding-top: 113px;
  }
}

.download-app {
  @media (min-width: $desktop-width) {
    width: 580px;
    padding-left: 39px;
  }
}

.download-app__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 308px;
    height: 380px;
    margin-left: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 781px;
    height: 727px;
  }
}

.download-app__button {
  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (max-width: 1439px) {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
  }
}

.download-app__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.download-app__heading {
  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}
